@import url('https://fonts.googleapis.com/css?family=Circular Std');

*,
*:before,
*:after {
	box-sizing: border-box;
}

/***
BASE STYLES 
***/

body {
	font: normal 1rem "Circular Std", Arial, Helvetica, sans-serif;
	line-height: 1.5;
	color: #434343;
	background: #F9F9FC;
}

/* a {
	text-decoration: none;
	color: yellow;
	transition: color .4s;
} */

/* a:hover {
	color: #2391D3;
} */

.hintergrund {
	position: absolute;
	left: 0px;
	top: 0px;
	z-index: -2;
}

/***
LAYOUT CONTAINERS
***/

.main-wrap {
	width: 100%;
}

.main-header,
.video-wrap {
	display: flex;
	justify-content: left;
}

.name {
	margin: 0;
	font-size: 1.4em;
	font-weight: normal;
}

/* .info {
	font-size: .9rem;
} */

.video-section {
	width: 100%;
}

.video-wrap {
	/* width: 200%; */
	max-width: 1100px;
	/* margin: 0 auto 3em; */
}

.caption-section {
	width: 100%;
	/* margin: 0 auto 2em; */
	cursor: pointer;
}

.caption-instruction {
	text-align: left;
	font-weight: bold;
	color: #434343;
	/* margin: 1em auto 0; */
}

.caption-section p {
	/* letter-spacing: 0.1em; */
	cursor: pointer;
}

.no-highlight {
	/* applied to have transition effect on JS highlight class */
	transition: all 1.5s ease-in-out;
}

.highlight {
	color: #ffffff;
	background: #3744BA;
	padding: 0.3em;
	border-radius: 8px;
	transition: all 0.5s ease-in-out;
}




/*#2391D3*/

/*** MEDIA QUERIES ***/

@media only screen and (min-width: 768px) {

	.info {
		width: 100%;
		position: absolute;
	}

	.video-wrap {
		margin-top: 280px;
		/* margin-bottom: 3.5em; */
		position: absolute;
		right: 70px;
		width: 100%;
	}

	.caption-section {
		margin-top: 220px;
		width: 60%;
		left: 56px;
		position: absolute;
	}
}